@charset "UTF=8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    padding: 10px;
}

#burger {
    display: block;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
    padding: 10px;
}

#burger:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

menu {
    display: none;
}

menu ol {
    list-style-type: none;
}

menu > ol > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(73, 73, 73);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(153, 153, 153);
}

menu > ol > li > a:hover {
    background-color: rgb(102, 102, 102);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > article > h2 {
    padding-bottom: 20px;
}

article p {
    text-indent: 20px;
    line-height: 25px;
    text-align: justify;
}